<% if runner_signed_in? %>

  <% @workouts.each do |f| %>

    <div id="transbox">
      <h3>  DATE:  <%= link_to f.title, f %></h3>
      <li>  DESCRIPTION:  <%= f.description %></li>
      <li>  PACE:  <%= f.pace %></li>
      <li>  MILES:  <%= f.miles %></li>
    </div>
  </div>
</div>
  <% end %>

<% else %>
  <%= render 'welcome_page' %>
<% end %>
