<div class="col-md-10 cd-md-offset-1">
  <h2><%= @workout.title %></h2>
  <p><%= @workout.description %></h2>
  <p><%= @workout.pace %></h2>
  <p><%= @workout.miles %></h2>

  <div class="col-md-4 col-md-offset-4">
    <%= link_to "Back", root_path %>
  </div>
</div>
