<!DOCTYPE html>
<html>
  <head>
    <title>LetsRun</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>

    <nav class="navbar navbar=default">
      <div class="container">
        <div class="navabar-header">
          <%= link_to "Let's Run", root_path, class:"navbar-brand" %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if current_runner.present? %>
          <li><%= link_to "RUNNER QUIT", destroy_runner_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "RUNNER SIGN IN", new_runner_session_path %></li>
          <li><%= link_to "START RUNNING", new_runner_registration_path %></li>
        <% end %>
      </ul>
      <% if runner_signed_in? %>
          <%= link_to "New Workout", new_workout_path, class: "navbar-brand" %>
      <% end %>
    </nav>


  </div class="container">
    <%= yield %>
  </div>


 <br class="clr" />
  <div id="footer">
    <div class="container">
      <div class="col-xs-12 col-sm-3">
        <b>Runners</b>
        <br />
        <%= link_to 'Choose a Plan', '#' %>
        <br />
        <%= link_to 'Manage Your Run', '#' %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <b>About</b>
        <br />
        <%= link_to 'Learn Something', '#' %>
        <br />
        <%= link_to 'About Me', '#'%>
        <br />
      </div>
      <div class="col-xs-12 col-sm-3">
        <b>Resources</b>
        <br />
        <%= link_to 'Running Articles' '#' %>
        <br />
        <%= link_to 'Upcomming Races' '#' %>
        <br />
      </div>
      <div class="col-xs-12 col-sm-3">
        <b>Social</b>
        <br />
        <%= link_to 'http://github.com/benzuba11' do %>
          <%= image_tag 'github.png', class: 'social-button' %>
        <% end %>
        <%= link_to 'http://facebook.com' do %>
          <%= image_tag 'facebook.png', class: 'social-button' %>
        <% end %>
        <%= link_to 'http://twitter.com' do %>
          <%= image_tag 'twitter.png', class: 'social-button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</html>
